In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import joblib
import datetime
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
titanic_df = sns.load_dataset("titanic") #Load the dataset

In [3]:
titanic_df.head() #to show the 5 first rows

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
#remove the categorical feature for the assignment requirement
titanic_df = titanic_df.drop(['sex', 'fare','embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone'], axis=1)

In [5]:
titanic_df.shape

(891, 5)

In [6]:
titanic_df= titanic_df.dropna() #remove null values

In [7]:
titanic_df.shape #shape after removing null values

(714, 5)

In [8]:
titanic_df.describe()

         survived      pclass         age       sibsp       parch
count  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695   29.699118    0.512605    0.431373
std      0.491460    0.838250   14.526497    0.929783    0.853289
min      0.000000    1.000000    0.420000    0.000000    0.000000
25%      0.000000    1.000000   20.125000    0.000000    0.000000
50%      0.000000    2.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000   38.000000    1.000000    1.000000
max      1.000000    3.000000   80.000000    5.000000    6.000000

In [9]:
y = titanic_df['survived'] #set the target
X= titanic_df.drop('survived' , axis=1) #set the features

In [10]:
X_train, X_val , y_train, y_val = train_test_split( X, y, train_size = .80, test_size =.20, random_state=42) #split the train and test

In [11]:
lr = LogisticRegression() #init Logistic Regression model
lr.fit(X_train, y_train) #fit the data
print(f"Accuracy = {  round(lr.score(X_val, y_val),3) }" )

Accuracy = 0.692

In [12]:
y_predict = lr.predict(X_val) #predict label

print(classification_report(y_val, y_predict))

              precision    recall  f1-score   support

           0       0.71      0.84      0.77        87
           1       0.65      0.46      0.54        56

    accuracy                           0.69       143
   macro avg       0.68      0.65      0.66       143
weighted avg       0.69      0.69      0.68       143

In [13]:
scaler = StandardScaler() #init Standard Scaler to scale the data

X_train_scaled = scaler.fit_transform(X_train) #fit and transform X_train
X_val_scaled = scaler.transform(X_val) #transform X_val

In [14]:
lr1 = LogisticRegression() #init Logistic Regression model
lr1.fit(X_train_scaled, y_train) #fit the data
print(f"Accuracy = {  round(lr1.score(X_val_scaled, y_val),3) }" )

Accuracy = 0.692

In [15]:
y_predict1 = lr1.predict(X_val_scaled) #predict label

print(classification_report(y_val, y_predict1))

              precision    recall  f1-score   support

           0       0.71      0.84      0.77        87
           1       0.65      0.46      0.54        56

    accuracy                           0.69       143
   macro avg       0.68      0.65      0.66       143
weighted avg       0.69      0.69      0.68       143

In [16]:
scaler1 = MinMaxScaler() #init MinMaxScaler to minimize the data

X_train_scaled1 = scaler1.fit_transform(X_train) #fit and transform X_train
X_val_scaled1 = scaler1.transform(X_val) #transform X_val

In [17]:
lr2 = LogisticRegression() #init Logistic Regression model
lr2.fit(X_train_scaled1, y_train) #fit the data
print(f"Accuracy = {  round(lr2.score(X_val_scaled1, y_val),3) }" )

Accuracy = 0.692

In [18]:
y_predict2 = lr2.predict(X_val_scaled1) #predict label

print(classification_report(y_val, y_predict2))

              precision    recall  f1-score   support

           0       0.71      0.84      0.77        87
           1       0.65      0.46      0.54        56

    accuracy                           0.69       143
   macro avg       0.68      0.65      0.66       143
weighted avg       0.69      0.69      0.68       143

In [19]:
today = str(datetime.datetime.today())[:10].replace("-", "_") #today datetime
joblib.dump(lr, f"lr_{today}") #save first model
joblib.dump(lr1, f"lr1_{today}")  #save second model
joblib.dump(lr2, f"r2_{today}")  #save third model

['r2_2022_11_05']